<!-- Invoice -->

  <!-- Grid -->
  <div class="mb-5 pb-5 flex justify-between items-center border-b border-gray-200 dark:border-neutral-700">
    <div>
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-neutral-200">Database schema</h2>
    </div>
    <!-- Col -->

    <div class="inline-flex gap-x-2">
      <%= link_to(new_plan_database_schema_database_schema_model_path(@plan), class: 'py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800') do %>
      <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
        New model
      <% end %>
    </div>
    <!-- Col -->
  </div>
  <!-- End Grid -->



<!-- End Invoice -->
<div class="hs-accordion-group" data-controller="accordion">
  <% @models.each do |model| %>
  <div class="hs-accordion active bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg dark:bg-neutral-800 dark:border-neutral-700" id="hs-bordered-heading-one">
    <button data-accordion-tab-param="collapse-model-<%= model.id %>" data-action="click->accordion#toggleTag" class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400" aria-expanded="true" aria-controls="hs-basic-bordered-collapse-one">
      <span class='min-h-[30px] inline-flex justify-center items-center p-2 px-4 bg-white border border-gray-200 font-mono text-sm text-gray-800 rounded-md shadow-[0px_2px_0px_0px_rgba(0,0,0,0.08)] dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200 dark:shadow-[0px_2px_0px_0px_rgba(255,255,255,0.1)]'>
        <%= model.name %> <% if model.options.key?('use_uuid') %><span class="ml-2 inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-md text-xs font-medium border border-gray-200 bg-yellow-100 text-yellow-800 text-gray-800 shadow-sm">UUID</span><% end %>
      </span>
    </button>
    <div id="collapse-model-<%= model.id %>" class="hs-accordion-content w-full overflow-hidden <%= 'hidden' if params[:expand] != model.id.to_s %> transition-[height] duration-300" role="region" aria-labelledby="hs-bordered-heading-one">
      <div class="pb-4 px-5">
        <%= render 'database_schema/database_schema_models/buttons', plan: @plan, model: model %>
        <% if model.columns.empty? %>
          <%= render 'database_schema/database_schema_models/empty_columns', plan: @plan, model: model %>
        <% else %>
          <%= render 'database_schema/database_schema_models/columns', plan: @plan, model: model, columns: model.columns %>
        <% end %>

        <%= render 'database_schema/database_schema_models/indices', plan: @plan, model: model, indices: model.indices %>
      </div>
      </div>
    </div>
  <% end %>
</div>
